<!--<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <p>Copyright &copy; {{template.year}}. All Right Resvered.</p>
            </div>
            <div class="col-md-6">
                <div class="pull-right">
                    <p>Developed by <a href="http://www.wohlig.com" target="_blank">Wohlig Technology</a>.</p>
                </div>
            </div>
        </div>
    </div>
</footer>-->
<footer>
    <div class="container">
        <!--<div class="row">-->
        <div class="ft_padd">
            <ul class="list-unstyled list-inline">
                <li>
                    <div class="inline-block">
                        <ul class="list-unstyled">
                            <li class="list-group-item"><a href="">Home</a></li>
                            <li class="list-group-item"><a href="">About Us</a></li>
                            <li class="list-group-item"><a href="">Contact Us</a></li>
                        </ul>
                    </div>
                </li>
                <li>
                    <div class="inline-block">
                        <ul class="list-unstyled">
                            <li class="list-group-item"><a href="">Feedback</a></li>
                            <li class="list-group-item"><a href="">Terms and Conditions</a></li>
                            <li class="list-group-item"><a href="">Privacy Policy</a></li>
                        </ul>
                    </div>
                </li>
                <li>
                    <div class="inline-block search--width">
                        <ul class="list-unstyled list-inline">
                            <li class="list-group-item">
                                <p class="list-group-item">Subscribe</p>
                                <div class="input-group">
                                    <input type="email" class="form-control" placeholder="Email Address">
                                    <div class="input-group-btn">
                                        <button class="btn btn-default" type="submit"><span><i class="fa fa-plus" aria-hidden="true"></i></span>
                                    </button>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </li>
                <li>
                    <div class="inline-block">
                        <p class="list-group-item">Follow us on</p>
                        <ul class="list-unstyled list-inline">
                            <li>
                                <a href=""><img src="frontend/img/10.png" class="img-responsive"></a>
                            </li>
                            <li>
                                <a href=""><img src="frontend/img/9.png" class="img-responsive"></a>
                            </li>
                            <li>
                                <a href=""><img src="frontend/img/8.png" class="img-responsive"></a>
                            </li>
                            <li>
                                <a href=""><img src="frontend/img/7.png" class="img-responsive"></a>
                            </li>
                            <li>
                                <a href=""><img src="frontend/img/6.png" class="img-responsive"></a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li>
                    <div class="inline-block pull-right">
                        <p>Copyright &copy; Antimatter.com<br><span class="pull-right">Designed byTING</span></p>
                    </div>
                </li>
            </ul>
        </div>
        <!--</div>-->
    </div>
</footer>