<header  >
    <nav class="navbar navbar-default navbar-fixed-top nav-top">
       <div class="container">
           
                <!--<img src="frontend/img/LOGO.png" alt="logo" class="navbar-brand image-responsive"> -->
      
             <!--<ul class="nav navbar-nav text">
                
                <li><a href="#">INSPIRE</a></li>
                <li><a href="#">FICTION</a>
                    <div class="border"></div>
                </li>
                <li><a href="#">TRAVEL</a></li>
                <li><a href="#">LIBERATE</a></li>
                <li><a href="#">CONFESSION</a></li>
            </ul>-->
        </div>
    </nav>
</header>