<div class=" background-brown">
    <div class=" container-fluid background-img ">
        <div class="row">
            <div class="social_icon">
                <ul class="list-unstyled  social-share2">
                    <li>
                        <a href="">
                            <i class="fa fa-facebook  " aria-hidden="true"></i>
                        </a>
                    </li>
                    <li>
                        <a href=""><i class="fa fa-twitter  " aria-hidden="true"></i></a>
                    </li>
                    <li>
                        <a href=""><i class="fa fa-instagram  " aria-hidden="true"></i></a>
                    </li>
                    <li>
                        <a href=""><i class="fa fa-pinterest-p  " aria-hidden="true"></i></a>
                    </li>
                    <li>
                        <a href=""><i class="fa fa-youtube  " aria-hidden="true"></i></a>
                    </li>
                </ul>
            </div>
            <div class="col-md-8 col-md-push-2 background-para ">
                <p>The printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since
                    the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                    It has survived not only five centuries.The printing and typesetting industry.
                </p>
            </div>
        </div>
        <div class="text-center text-inspire-rel">
            <ul ng-init="viewDetail=1">
                <li class="inline-list " ng-click="viewDetail = 1;" ng-class="{' visible-li': viewDetail==1, '': viewDetail!==1}">RELEASED
                    <div class="border-active"> </div>
                </li>
                <li class="inline-list " ng-click="viewDetail = 2;" ng-class="{' visible-li': viewDetail==2, '': viewDetail!==2}">UPCOMING
                    <div class="border-active"></div>
                </li>
            </ul>
        </div>
    </div>
    <div class="container">
        <div ng-if="viewDetail==1">
            <div class="row">
                <div class="col-md-12  ">
                    <div class="img-car-position" ui-sref="videogallery">
                        <img src="frontend/img/22.jpg " alt="" class="image-responsive container-img2">
                        <div class="grad text-center">
                            <div> <img src="frontend/img/26.png " alt=""></div>
                            <h1 class="text-center">VENTURE OUT</h1>
                            <h3> BY ALAN WATTS</h3>
                            <p>“Your life can be the greatest adventure you've ever dreamed of."</p>
                            <p> A thought-provoking video narrated by Alan Watts.</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="inspire-slider">
                <flex-slider class="carousel" animation="slide" flex-slide="myslide in inspireImg track by $index" prev-text="" next-text=""
                    max-items="3" item-width="350" item-margin="0">
                    <li>
                        <img ng-src="{{myslide.img}}" class="posi-rel">
                        <div class="play"> <img src="frontend/img/26.png " alt=""></div>
                        <div class="gradient text-center">
                            <h2>{{myslide.title1}}</h2>
                            <h5>{{myslide.title2}}</h5>
                        </div>
                    </li>
                </flex-slider>
            </div>

        </div>
        <div ng-if="viewDetail==2">
            <div class="row">
                <div class="col-md-12  ">
                    <div class="img-car-position" ui-sref="videogallery">
                        <img src="frontend/img/22.jpg " alt="" class="image-responsive container-img2">
                        <div class="grad text-center">
                            <div> <img src="frontend/img/26.png " alt=""></div>
                            <h1 class="text-center">VENTURE OUT</h1>
                            <h3> BY ALAN WATTS</h3>
                            <p>“Your life can be the greatest adventure you've ever dreamed of."</p>
                            <p> A thought-provoking video narrated by Alan Watts.</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="inspire-slider">
                <flex-slider class="carousel" animation="slide" flex-slide="myslide in inspireImg track by $index" prev-text="" next-text=""
                    max-items="3" item-width="350" item-margin="0">
                    <li>
                        <img ng-src="{{myslide.img}}" class="posi-rel">
                        <div class="play"> <img src="frontend/img/26.png " alt=""></div>
                        <div class="gradient text-center">
                            <h2>{{myslide.title1}}</h2>
                            <h5>{{myslide.title2}}</h5>
                        </div>
                    </li>
                </flex-slider>
            </div>


        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="text-center text">
                    <p>ALSO VIEW STORIES FROM:</p>
                    <div class="text-ul">
                        <ul>
                            <li class="inline-list2">INSPIRE </li>
                            <li class="inline-list2">LIBERATE </li>
                            <li class="inline-list2">CONFESSION </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>