<div class="video-gallery">
    <div class="container">
        <div class="section1">
            <div class="gallery-playimg">
                <img src="frontend/img/copy.png" alt="" class="img-responsive">
            </div>
            <div>
                <h1>Venture Out</h1>
                <p>by allan watts</p>
                <div>
                    <ul class="list-unstyled list-inline">
                        <li>
                            <a href=""><i class="fa fa-thumbs-up" aria-hidden="true"></i></a>
                        </li>
                        <li>
                            <a href=""><i class="fa fa-facebook" aria-hidden="true"></i></a>
                        </li>
                        <li>
                            <a href=""><i class="fa fa-twitter" aria-hidden="true"></i></a>
                        </li>
                        <li>
                            <a href=""><i class="fa fa-link" aria-hidden="true"></i></a>
                        </li>
                    </ul>
                </div>
                <div>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perspiciatis optio facilis maxime id nobis numquam consequatur
                        nisi culpa dignissimos tempora ratione praesentium sed quas tenetur, omnis odit nihil cum! Blanditiis!
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perspiciatis optio facilis maxime id nobis
                        numquam consequatur nisi culpa dignissimos tempora ratione praesentium sed quas tenetur, omnis odit
                        nihil cum! Blanditiis!
                    </p>
                    <p><a href="">view the story</a></p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="section2">
    <div class="container">
        <div class="text-center ul-tabs">
            <ul class="list-unstyled list-inline">
                <li>cast &amp; crew</li>
                <li>gallery</li>
                <li>behind the scenes</li>
                <li>social media</li>
            </ul>
            <div class="row">
                <div class="col-md-2">
                    <img src="" alt="" class="img-responsive">
                </div>
            </div>
        </div>
    </div>
</div>