<div class="video-gallery">
    <div class="container">
        <div class="section1">
            <div class="gallery-playimg">
                <img src="frontend/img/copy.png" alt="" class="img-responsive">
                <div class="absolute-content">
                    <div class="inblock">
                        <p>Watch</p>
                    </div>
                    <div class="inblock">
                        <img src="frontend/img/videogallery/play.png" alt="" class="img-responsive play__img">
                    </div>
                    <div class="inblock">
                        <p>now</p>
                    </div>
                </div>
            </div>
            <div class="title-sec">
                <h1 class="venture-head">Venture Out</h1>
                <p class="venture-name">by allan watts</p>
                <div class="social">
                    <ul class="list-unstyled list-inline">
                        <li>
                            <a href=""><i class="fa fa-thumbs-up" aria-hidden="true"></i></a>
                        </li>
                        <li>
                            <a href=""><i class="fa fa-facebook" aria-hidden="true"></i></a>
                        </li>
                        <li>
                            <a href=""><i class="fa fa-twitter" aria-hidden="true"></i></a>
                        </li>
                        <li>
                            <a href=""><i class="fa fa-link" aria-hidden="true"></i></a>
                        </li>
                    </ul>
                </div>
                <div>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perspiciatis optio facilis maxime id nobis numquam consequatur
                        nisi culpa dignissimos tempora ratione praesentium sed quas tenetur, omnis odit nihil cum! Blanditiis!
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perspiciatis optio facilis maxime id nobis
                        numquam consequatur nisi culpa dignissimos tempora ratione praesentium sed quas tenetur, omnis odit
                        nihil cum! Blanditiis!
                    </p>
                    <!--{{mygallery}}-->
                    <p><a href="">view the story</a></p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="section2">
    <div class="container">
        <div class="cast">
            <ul class="list-unstyled list-inline ul-tabs text-uppercase text-center">
                <li ng-click="viewDetail=1">cast &amp; crew</li>
                <li ng-click="viewDetail=2">gallery</li>
                <li ng-click="viewDetail=3">behind the scenes</li>
                <li ng-click="viewDetail=4">social media</li>
            </ul>
            <div class="row padd_lr padd_tp15" ng-show="viewDetail==1">
                <div class="col-md-3 ">
                    <ul class="list-group">
                        <li class="" ng-repeat="name in cast">
                            <p>Written and Directed by</p>
                            <p>{{name.writtenBy}}</p>
                        </li>
                        <li class="" ng-repeat="name in cast">
                            <p>Produced By</p>
                            <p> {{name.producedBy}}</p>
                            <p> {{name.producedBy}}</p>
                            <p> {{name.producedBy}}</p>
                        </li>
                        <li class="" ng-repeat="name in cast">
                            <p>Cinema Autographer</p>
                            <p> {{name.cinemaAutographer}}</p>
                        </li>
                        <li class="" ng-repeat="name in cast">
                            <p>composer</p>
                            <p> {{name.composer}}</p>
                        </li>
                        <li class="" ng-repeat="name in cast">
                            <p>colorist / post</p>
                            <p> {{name.colorist}}</p>
                            <p> {{name.colorist}}</p>
                        </li>
                    </ul>
                </div>
                <div class="col-md-3">
                    <ul class="list-group">
                        <li class="" ng-repeat="name in cast">
                            <p>associate producer</p>
                            <p> {{name.producer}}</p>
                        </li>
                        <li class="" ng-repeat="name in cast">
                            <p>assistant director</p>
                            <p> {{name.astDirector}}</p>
                        </li>
                        <li class="" ng-repeat="name in cast">
                            <p>make-up</p>
                            <p> {{name.makeup}}</p>
                        </li>
                        <li class="" ng-repeat="name in cast">
                            <p>assistant make-up</p>
                            <p> {{name.astMakeup}}</p>
                        </li>
                        <li class="" ng-repeat="name in cast">
                            <p>music supervisor</p>
                            <p> {{name.musicSupervisor}}</p>
                        </li>
                    </ul>
                </div>
                <div class="col-md-3">
                    <ul class="list-group">
                        <li class="" ng-repeat="name in cast">
                            <p>editor</p>
                            <p> {{name.editor}}</p>
                        </li>
                        <li class="" ng-repeat="name in cast">
                            <p>editor</p>
                            <p> {{name.editor}}</p>
                        </li>
                        <li class="" ng-repeat="name in cast">
                            <p>sound designer</p>
                            <p> {{name.soundDesigner}}</p>
                        </li>
                        <li class="" ng-repeat="name in cast">
                            <p>titles</p>
                            <p> {{name.titles}}</p>
                        </li>
                        <li class="" ng-repeat="name in cast">
                            <p>choreographer</p>
                            <p> {{name.choregrapher}}</p>
                        </li>
                    </ul>
                </div>
                <div class="col-md-3">
                    <ul class="list-group">
                        <li class="" ng-repeat="name in cast">
                            <p>video art</p>
                            <p> {{name.videoArt}}</p>
                        </li>
                        <li class="" ng-repeat="name in cast">
                            <p>still phographer</p>
                            <p> {{name.stillPhtgrapher}}</p>
                        </li>
                        <li class="" ng-repeat="name in cast">
                            <p>production designers</p>
                            <p> {{name.productionDesigner}}</p>
                            <p> {{name.productionDesigner}}</p>
                        </li>
                        <li class="" ng-repeat="name in cast">
                            <p>art department</p>
                            <p>{{name.artDept}}</p>
                            <p>{{name.artDept}}</p>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="row marg0" ng-repeat="mygallery in gallery" ng-show="viewDetail==2">
                <div class="col-md-2 col-md-push-1 padd1" ng-repeat="gall in mygallery">
                    <img ng-src="{{gall}}" alt="" class="img-responsive">
                </div>
            </div>

            <div class="row padd_tb15">
                <div class="cast" ng-show="viewDetail==3">

                </div>
            </div>

            <div class="row  padd_tb15">
                <div class="cast" ng-show="viewDetail==4">

                </div>
            </div>
        </div>
    </div>
</div>