.padd_lr {
    // padding left & right
    padding: 0 96px;
}

.padd_tb15 {
    padding: 15px 0;
}

.padd_tp15 {
    padding-top: 15px;
}

header {
    box-shadow: 0px 4px 19.11px 1.89px rgba(18, 9, 9, 0.32);
    width: 100%;
    height: 100px;
    background-color: $blackColor;
    .navbar-brand {
        width: 8.4%;
        height: 3.3%;
        margin: 19px 161px;
    }
    .text {
        font-family: YanoneKaffeesatz;
        color: #7c7c7c;
        font-size: 19px;
        font-weight: 700;
        text-align: center;
        // margin: 506px !important;
    }
    .border {
        font-family: YanoneKaffeesatz;
        color: #ffffff;
        font-size: 19.53px;
        font-weight: 700;
        text-align: center;
        transform: matrix(1, -0.1371, 0, 1, 0, 0);
    }
}

.inspire-slider {
    .flexslider .slides>li {
        .flexslider .slides>li {
            height: 424px !important;
        }
        li {
            position: relative;
        }
        .play {
            width: 29px;
            position: absolute;
            top: 49%;
            left: 50%;
            transform: translate(-50%, -50%);
            z-index: 99;
        }
        .flex-prev {
            display: none;
        }
        .flex-next {
            display: none;
        }
        .flex-control-nav {
            width: 14%;
            right: -24px;
            right: -24px;
            bottom: -62px;
            li:first-child {
                a {
                    background-image: url("../img/polygon1.jpg");
                    width: 50px;
                    height: 50px;
                    border-radius: 0px;
                    background-position: center center;
                }
            }
            li:last-child {
                a {
                    background-image: url("../img/polygon2.jpg");
                    width: 50px;
                    height: 50px;
                    border-radius: 0px;
                    background-position: center center;
                }
            }
        }
    }
    p {
        color: #e6e3e3;
        font-size: 18px;
        line-height: 29.167px;
        text-align: justify;
        font-family: 'proxima-R';
    }
}

.bg-color {
    background-color: rgb(17, 22, 30);
}

.fiction-background {
    background-image: url("../img/34.jpg");
    width: 100%;
    height: 468px;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: hsl(219, 29%, 9%);
    position: relative;
    .social_icon {
        position: absolute;
        top: 42%;
        right: 11px;
        li {
            margin-bottom: 10px;
        }
        a {
            background-color: rgba(167, 165, 165, 0.75)!important;
        }
    }
}

.Aligner {
    display: flex;
    align-items: center;
    justify-content: center;
}

.Aligner-item--bottom {
    align-self: flex-end;
}

.pmy {
    p {
        font-weight: 300;
        // padding: 24px 0px;
        padding: 14px 0px;
        margin-left: -12px;
        margin-right: 63px;
    }
}

.text-released {
    margin-top: 12px;
    .inline-list {
        display: inline-block;
        color: #ffffff !important;
        font-family: YanoneKaffeesatz;
        padding-right: 55px;
        font-size: 28px;
        font-weight: 700;
        line-height: 34px;
        transform: scaleY(1.0036);
        letter-spacing: 5.5px;
        li {
            opacity: 1;
        }
        //    list-style-type: none;
    }
    .border-active {
        width: 66px;
        height: 3px;
        /* color: grey; */
        background: #ffffff;
        margin: 10px auto;
        /* display: none; */
        visibility: hidden;
    }
}

.visible-li {
    .border-active {
        visibility: visible;
    }
}

// .img-car {
//     position: relative;
// }
.grad {
    position: absolute;
    width: 100%;
    height: 50%;
    background: rgba(0, 0, 0, 0.45);
    bottom: 0;
    border-top: 3px solid rgb(17, 22, 30);
    img {
        margin-top: -30px;
    }
    h1 {
        font-family: 'proxima-EB';
        color: #ffffff;
        font-size: 37px;
        line-height: 28.462px;
        text-shadow: 0px 4px 7.28px rgba(18, 9, 9, 0.28);
    }
    h3 {
        font-family: 'proxima-SB';
        color: #c1c0c0 !important;
        font-size: 19px;
        font-weight: 700;
        // margin-top: -6px;
        text-shadow: 0px 4px 7.28px rgba(18, 9, 9, 0.28);
    }
    p {
        font-weight: 400;
        line-height: 17px;
        text-align: center;
    }
}

.container-img {
    //   background-image: url("../img/22.jpg");
    width: 100%;
    //   height: 509px;
    margin-top: 30px;
    padding: 0;
    //     background-position: center center;
    // background-size: cover;
    // background-repeat: no-repeat;
}

.row-margin {
    margin-top: 23px;
}

.col-padding {
    // padding: 0px;
    position: relative;
}

.imgs-4 {
    width: 100%;
}

.flexslider {
    margin: 20px 0px 60px;
    border: none;
}

.img-car {
    margin-top: 12px;
    cursor: pointer;
}

.img-car {
    margin-top: 12px;
    cursor: pointer;
}

.img-car-position {
    position: relative;
}

.gradient {
    position: absolute;
    width: 100%;
    height: 51%;
    background: rgba(0, 0, 0, 0.68);
    bottom: 0;
    border-top: 3px solid #11161e;
    img {
        margin-top: -30px;
    }
    h2 {
        font-family: 'proxima-EB';
        color: #ffffff;
        font-size: 24px;
        text-align: center;
        font-weight: bolder;
    }
    h5 {
        font-family: 'proxima-SB';
        color: #c1c0c0;
        font-size: 12px;
        font-weight: 700;
        text-align: center;
        line-height: 28.462px;
    }
}

.text {
    // margin-top: 62px;
    .text-ul {
        margin-bottom: 62px;
    }
    p {
        font-family: YanoneKaffeesatz;
        color: #a29c9c !important;
        font-size: 19px;
        font-weight: 700;
        text-align: center;
        letter-spacing: 4.5px;
        font-weight: bold;
    }
    .inline-list2 {
        font-family: YanoneKaffeesatz;
        color: #7b7979;
        font-size: 31px;
        text-align: center;
        display: inline;
        letter-spacing: 4.5px;
        font-weight: 700;
        padding: 23px;
    }
}

// End Fiction css
.background-brown {
    background-color: rgb(23, 19, 19);
}

.background-img {
    background-image: url("../img/q.jpg");
    //  
    width: 100%;
    height: 100%;
    position: relative;
    // background-position: 100% 0;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    // transform: translate(0 ,-13%);
    p {
        // mar
        text-align: center;
        vertical-align: middle;
        // padding-left: 156px;
        // padding-right: 50px;
        // padding: 17px 0px;
        font-weight: 300;
        // line-height: 29.167px;
        text-align: justify;
    }
    .background-para {
        bottom: 19px;
        position: absolute;
        padding: 54px 0;
    }
}

// .shadow{
//       box-shadow: 10px 10px 5px white;
// }
.container-img2 {
    width: 100%;
    padding: 0;
}

.social-share2 {
    margin-right: 24px;
    margin-top: 264px;
    li {
        padding: 5px;
        a {
            display: inline-block;
            width: 30px;
            height: 30px;
            border-radius: 50%;
            background-color: #7b716d;
            margin: 0 auto;
            text-align: center;
            line-height: 35px;
            .fa:before {
                font-size: 20px;
                color: #50403d;
            }
        }
    }
    display: inline-block;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #7b716d;
    margin: 0 auto;
    text-align: center;
    line-height: 35px;
    .fa:before {
        font-size: 20px;
        color: #50403d;
    }
}

// a {
//     background-color: #7b716d ;
// }
// .social-share2 li a .fa:before{
//                           color: rgb(83, 70, 66) !important;
// }
.vedio {
    .video-bgimg {
        background-image: url("../img/bg2.jpg");
        width: 100%;
        height: 940px;
        background-repeat: no-repeat;
        position: relative;
    }
    .video-img {
        position: absolute;
    }
}

// css for video 
.inblock {
    display: inline-block;
}

.video-gallery {
    background-image: url(../img/bg2.jpg);
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    background-position: center center;
    .gallery-playimg {
        margin-top: -56px;
        position: relative;
        .absolute-content {
            position: absolute;
            top: 50%;
            left: 50%;
            @include transform(translate(-50%,
            -50%));
            .inblock {
                vertical-align: middle;
                p {
                    text-transform: uppercase;
                    margin: 0;
                    font-weight: bold;
                    color: #fff;
                }
                .play__img {
                    width: 40px;
                }
            }
        }
    }
}

.section1 {
    .title-sec {
        .venture-head {
            font-weight: bold;
            color: #fff;
            text-transform: uppercase;
            margin: 0;
            font-family: 'proxima-EB';
        }
        .venture-name {
            font-weight: bold;
            text-transform: uppercase;
            font-size: 14px;
            color: #979797;
        }
        .social {
            .fa {
                color: #979797;
            }
        }
    }
}

.section2 {
    background-color: #1b2021;
    .ul-tabs {
        background-color: #161616;
    }
    .list-inline {
        li {
            cursor: pointer;
            padding: 15px 84px;
            color: #d7d7d7;
        }
        li:hover {
            color: white;
        }
    }
    .list-group {
        li {
            list-style: none;
            margin: 0 0 10px;
            p {
                margin: 0;
                color: #d7d7d7;
                text-transform: capitalize;
                line-height: 1.5;
            }
        }
    }
}

.marg0 {
    margin: 0;
}

.padd1 {
    padding: 1px;
}

// END css for video gallery
.middle {
    vertical-align: middle;
}