@import "../../bower_components/bourbon/app/assets/stylesheets/bourbon";
@import "../../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/mixins";
@import "../../bower_components/bootstrap-sass/assets/stylesheets/bootstrap-sprockets";
@import "../../bower_components/flexslider/flexslider";
@import "../../bower_components/font-awesome/scss/font-awesome";
@import "../../bower_components/angular-ui-swiper/dist/angular-ui-swiper";
@import "../../bower_components/fancyBox/source/jquery.fancybox";
@import "../../bower_components/smart-app-banner/smart-app-banner";

/* Bootstrap Variables Goes Here */

$brand-primary: #0d9dff !default;
$brand-success: #84ce3c !default;
$brand-warning: #ffec39 !default;
$brand-danger: #fc483f !default;
$brand-info: #000072 !default;
$ltGrayColor: #e6e3e3;
$redColor: #ef3a35;
$whiteColor: #ffffff;
$blackColor: #0f0f0f;
@import "../../bower_components/bootstrap-sass/assets/stylesheets/bootstrap";
@font-face {
    font-family: 'Glyphicons Halflings';
    src: url("../fonts/glyphicons-halflings-regular.eot");
    src: url("../fonts/glyphicons-halflings-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/glyphicons-halflings-regular.woff2") format("woff2"), url("../fonts/glyphicons-halflings-regular.woff") format("woff"), url("../fonts/glyphicons-halflings-regular.ttf") format("truetype"), url("../fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular") format("svg");
}

@font-face {
    font-family: 'proxima-lt';
    src: url('../fonts/ProximaNova-Light.otf');
}

body {
    // padding-top: 70px;
    font-family: 'proxima-lt';
    font-size: 16px;
    overflow-x: hidden!important;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
}

img.loading {
    text-align: center;
    opacity: 1;
    width: 32px !important;
    height: auto;
}

img {
    opacity: 0;
    @include transition(all 300ms ease);
}

img.doneLoading {
    opacity: 1;
}

nav li:hover .dropdown-menu {
    display: block;
}

#map img {
    opacity: 1;
}

a,
.btn,
[ui-sref] {
    cursor: pointer;
    @include transition(all ease 300ms);
}

footer {
    font-size: 14px;
    font-weight: 600;
    background-color: $blackColor;
    color: $ltGrayColor;
    .ft_padd {
        padding: 25px 0;
        .inline-block {
            display: inline-block;
            .list-group-item {
                padding: 3px 15px;
                border: none;
                background: transparent;
                a {
                    text-decoration: none;
                    color: $ltGrayColor;
                }
                .form-control {
                    background-color: rgba(119, 119, 119, 0.68);
                    border: 0 solid $blackColor;
                    color: white;
                }
                .input-group-btn {
                    button {
                        background-color: $redColor;
                        border: 1px solid $redColor;
                    }
                }
            }
        }
        //padding: 10px 0;
        p {
            margin: 0;
        }
        .search--width {
            width: 417px;
            float: left;
        }
    }
}

//bootstrap forms
.input-lg,
.input-group-lg>.form-control,
.input-group-lg>.input-group-addon,
.input-group-lg>.input-group-btn>.btn,
.btn,
.form-control {
    border-radius: 0;
    @include box-shadow(none);
}

.form-control:focus {
    border-color: $brand-primary;
    outline: 0;
    @include box-shadow(none);
}

.form-group {
    position: relative;
}

.form-invalid {
    color: $brand-danger;
    .form-control {
        border-color: $brand-danger;
        color: $brand-danger;
        &::-webkit-input-placeholder {
            color: $brand-danger;
        }
    }
}

.form-submission {
    min-height: 300px;
}

//FLEX SLIDER FIXES
.flex-direction-nav {
    a {
        height: auto;
    }
    .flex-prev {
        left: 10px !important;
    }
    .flex-next {
        right: 10px !important;
    }
}


/* Start writing sass here */

.content {
    min-height: 450px;
}

.img-full {
    width: 100%;
    display: block;
}


/*sidd's CSS*/

.lt_gray {
    background-color: #e6e3e3;
}

.red_color {
    color: $redColor;
}

.navbar-default {
    background-color: transparent;
    border: none;
    .navbar-nav {
        float: none;
        text-align: center;
        margin: 66px 0 0;
        li {
            float: none;
            display: inline-block;
        }
        li:first-child {
            @include transform(rotate(-20deg));
            .border {
                border: 2px solid #ef3a35;
                width: 34px;
                margin: 0 auto;
            }
        }
        a {
            color: $whiteColor!important;
            padding: 10px 22px;
        }
    }
}


/*Home.html's CSS started*/

.padd_r {
    // padding right 0 for col
    padding-right: 0;
}

.padd_l {
    padding-left: 0;
}


/*Start of categories section*/

.catg {
    background-color: $ltGrayColor;
    .strip_img {
        background-image: url('../img/3.jpg');
        width: 100%;
        height: 57px;
        background-position: center center;
        background-size: cover;
        background-repeat: no-repeat;
    }
}


/*Start of video section*/

.video {
    position: relative;
    background-image: url('../img/1.jpg');
    width: 100%;
    background-position: center center;
    background-size: cover;
    height: 768px;
    background-repeat: no-repeat;
    .social_icon {
        position: absolute;
        top: 40%;
        right: 15px;
        li {
            margin-bottom: 10px;
        }
    }
}


/*start of about us section*/

.abt_us {
    background-color: $ltGrayColor;
    .bg_img {
        position: relative;
        background-image: url('../img/11.png');
        width: 100%;
        background-position: center center;
        background-size: contain;
        height: 400px;
        background-repeat: no-repeat;
        h1 {
            position: absolute;
            top: 34%;
            left: 0;
            right: 0;
            color: $redColor;
            letter-spacing: 50px;
            span.relt {
                color: black;
                position: relative;
                right: -77px;
            }
        }
    }
    .flex_padd {
        padding: 100px 0;
        .flexslider {
            background-color: $ltGrayColor;
            border: none;
            p {
                word-spacing: 5px;
                text-align: justify;
            }
            .flex-prev {
                display: none;
            }
            .flex-nav-next {
                display: none;
            }
            .flex-control-nav {
                width: 18%;
                bottom: -56px;
                right: 0;
            }
            .flex-control-paging li a {
                width: 37px;
                height: 9px;
                background: rgba(119, 119, 119, 0.62);
                border-radius: 0px!important;
            }
            .flex-control-paging li a.flex-active {
                background: $whiteColor;
            }
        }
    }
}


/*End of about us section*/

img.min_h {
    min-height: 294px;
}

@import "fancybox-override";
@import "mobile";